/* takes content size, padding, and border into account when determing size of content */

/* fonts: font-family: 'Blinker', sans-serif;
font-family: 'PT Sans', sans-serif; */
* {
    box-sizing: border-box;
  }
  
  html,
  body {
    margin: 0;
    padding: 0;
  }
  
  /* remove margins on typography to keep margins consistent */
  h1,
  h2,
  h3,
  p {
    margin: 0;
  }

  h1{
      color: #05CBE9;
      font-family: 'Blinker', sans-serif;
      font-weight: bold;
      font-size: 1.75rem;
      margin-bottom: 20px;
  }

  body{
    font-size:1rem;
  }

  img{
      max-width: 100%;
      display: block;
      margin: 0;
      padding: 0;
  }

  .hero-img{
    width:100%;
    height: 195px;
    /* keeps from being distorted */
    object-fit: cover;
  }

  main{
      margin: 20px auto;
      width: 320px;
      height: 593px;
      background-color: #111D4A;
      display: flex;
      flex-direction: column;
  }

  .content{
      padding: 36px;
      display: flex;
      flex-direction: column;

  }
  p{
    font-family: 'PT Sans', sans-serif;
    color: #FFFFFF;
    font-size: 1rem;
    line-height: 1.75;
  }

  .read-time{
    font-family: 'Blinker', sans-serif;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 1.1875rem;
    flex: 0 2 auto;
    align-self: flex-start;
    
  }

  .large{
    font-size:1.75rem;
  }

  .bold{
      font-weight: 600;
  }

  .btn{
      background-color: #05CBE9;
      font-family: 'Blinker', sans-serif;
      font-size:1.25rem;
      font-weight:600;
      text-transform: lowercase;
      padding: .5em 1.25em;
      border:none;
      display: inline-block;
      flex: 0 1 auto;
      
  }

  @media(min-width:500px){
      h1{
          font-size: 2.25rem;
      }
      .hero-img{
        height: 391px;
        width: 255px;
      }
      main{
          margin: 100px auto;
          height: 391px;
          width: 771px;
          flex-direction: row;
      }
      .content{
          width:516px;
      }

      p{
          font-size: 1.125rem;
      }
  }